*{
    margin: 0;
    padding: 0;
}
.addFolder{
    position: fixed;
    left: 90%;
    top: 90%;
    background: blue;
    color: #fff;
    font-size: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

